body {
    background-color: #8b8b8b;
    color: #000000;
    font-size: 0;
}

header {
    background-color: #606060;
    color: #8bc34a;
    font-size: 30px;
    width: 80%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
.frise {
    display: flex;
    justify-content: space-between;
}
.liens {
    display: flex;
    justify-content: space-between;
    margin: 45px 10px 10px 10px;
    align-items: flex-end;
}
section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20 10 20 10;
    background-color: #E8E8E8;
}
h1 {
    color: #388e3c;
    text-align: center;
    font-size: 30px;
}
#Nifty {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 0 auto;
  }
p {
    font-size: 20px;
    margin: auto 30px auto 30px;
}