body {
    background-color: #8b8b8b;
    color: #000000;
    font-size: 0;
}

header {
    background-color: #606060;
    color: #8bc34a;
    width: 80%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
.frise {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.liens {
    margin: 30px auto 10px auto;
    font-size: 40px ;
    font-weight: bold;
    text-align: center ;
}
section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 20px 0;
    background-color: #E8E8E8;
}
h1 {
    color: #388e3c;
    text-align: center;
    font-size: 30px;
}
#Nifty {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 0 auto;
  }
p {
    font-size: 20px;
    margin: auto 30px auto 30px;
}